/* 
-------------------------------------------------------

mobil använder 
    body
    {
    display: flex;
    flex-direction:column;
    }

-------------------------------------------------------

tablet använder

    @media only screen and (min-width: 641px

    display: grid
    grid-coulmns: 1fr 3fr
    
-------------------------------------------------------

    rem = det användaren använder (ist för px, fr, %)

    viewwidth(wv) = användarens skärm på enheten 
    viewheight = samma sak fast för höjd
    minmax(400px, 1fr) = justera min av en div och max av den div

--------------------------------------------------------


 */